{% extends 'cv_app/base.html' %}

{% block content %}
{% include 'cv_app/navbar.html' %}

<div class="container">
    <h2 class="mt-5">CV LIST</h2>
    {% for user in user_profiles %}
    <div class="cv-list is-flex is-justify-content-space-between column mb-4">
        <div class="is-flex mt-3">
            <figure class="image image is-32x32 mr-4">
                <img alt="Profile Picture" class="is-rounded" src="{{ user.profile_picture.url }}">
            </figure>
            <p>{{ user.full_name }}</p>
        </div>
        <div class="is-flex">
            <a class="mt-2 mr-2 button is-warning is-active" href="{% url 'preview' user_id=user.id %}">Preview</a>
            <a class="mt-2 button is-info is-active" href="{% url 'convert_to_pdf' user_id=user.id %}" target="_blank">
                <span class="icon is-small mr-2">
                    <i class="fa fa-upload"></i>
                </span>
                Download CV
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'cv_app/footer.html' %}
{% endblock %}

