{% extends 'cv_app/base.html' %}
{% load static %}

{% block content %}
<div class="preview">
    <div>
        <figure>
            <img alt="Profile Picture" src="{{ user_profile.profile_picture_base64 }}" width="80">
        </figure>
        <div>
            <h1>{{ user_profile.full_name }}</h1>
            <h3>{{ user_profile.profession }}</h3>
        </div>
    </div>
    <hr>
    <div>
        <p><strong>Email:</strong> {{ user_profile.email }}</p>
        <p><strong>Education:</strong> {{ user_profile.education }}</p>
        <p><strong>Experience:</strong> {{ user_profile.experience }}</p>
        <p><strong>Skills:</strong> {{ user_profile.skills }}</p>
        <p><strong>Language:</strong> {{ user_profile.language }}</p>
        <p><strong>Website:</strong> {{ user_profile.website }}</p>
        <p><strong>Bio:</strong> {{ user_profile.bio }}</p>
    </div>
</div>
{% endblock %}