{% extends 'cv_app/base.html' %}
{% load static %}

{% block content %}
    <h2>Profile Preview</h2>
    <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" width="100">
    <p><strong>Full Name:</strong> {{ user_profile.full_name }}</p>
    <p><strong>Email:</strong> {{ user_profile.email }}</p>
    <p><strong>Bio:</strong> {{ user_profile.bio }}</p>

<form method="post" enctype="multipart/form-data" action="{% url 'convert_to_pdf' user_id=user_profile.id %}" target="_blank">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Download PDF</button>
</form>

{% endblock %}


