{% extends 'cv_app/base.html' %}
{% load static %}

{% block content %}
{% include 'cv_app/navbar.html' %}
<h2>Profile Preview</h2>
<img alt="Profile Picture" src="{{ user_profile.profile_picture.url }}" width="100">
<p><strong>Full Name:</strong> {{ user_profile.full_name }}</p>
<p><strong>Email:</strong> {{ user_profile.email }}</p>
<p><strong>Bio:</strong> {{ user_profile.bio }}</p>

<a class="mt-2 button is-info is-active" href="{% url 'convert_to_pdf' user_id=user_profile.id  %}" target="_blank">Download</a>


{% include 'cv_app/footer.html' %}
{% endblock %}


