body {
  background: #fff;
  color: #000;
  overflow: auto;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.8;
}

/* NAVBAR STYLES */
.navbar-burger {
  color: #000;
}

.navbar-item {
  color: #000;
  background: none;
}

/* CREATE STYLES */
.create.container {
  margin: 50px auto;
}
 form {
    background: #fff;
 }

/* CV LIST STYLES */
  .cv-list {
    background: #11111;
    margin-top: 20px;
 }
  .cv-list:hover {
    background: #f1f2f2;
 }

 /* PREVIEW STYLES */
 /*.preview {
    width: 50%;
    margin: 50px auto;
 }

 .preview h2 {
    margin: 50px auto;
    font-size: 30px;
 } */
/*
 .preview img {
    border-radius: 50%;
 } */

 @media (max-width: 768px) {
    .preview {
        width: 100%;
        margin: 50px 5px;
    }
 }

 /*--------------------------------DARK THEME--------------------------------*/

@media (prefers-color-scheme: dark) {
  body {
    background: #111111;
    color: #fff;
  }
  .navbar {
    background: #111111;
    color: #fff;
  }
  .navbar-item {
    color: #fff;
  }
    .navbar .navbar-item a:hover {
    background: #1c1c1c;
  }
  .navbar-burger {
    color: #fff;
  }
  .navbar-menu {
   background: #111111;
  }
  a {
    text-decoration: none;
    color: #fff;
 }
  h3, p {
    color: #fff;
 }
  a:hover {
    color: #fff;
    opacity: 0.8;
 }
 form .label {
  color: #fff;
 }
 form.column {
    background: #1e1e1e;
 }
 form .input, .textarea {
  background: #4d4d4d;
  color: #fff;
 }
 .cv-list {
    background: #11111;
 }
  .cv-list:hover {
    background: #1e1e1e;
 }
}




